
<div class="formulario">
	<!-- flash de error  -->
	<% if(flash && flash.err) { %>
	<ul>
		<% Object.keys(flash.err).forEach(function (error) { %>
		<li>
			<%= JSON.stringify(flash.err[error]) %>
		</li>
		<% }) %>
	</ul>
	<% } %>
	<form action="/user/create" method="POST">
		<label for="">Nombre</label>
		<input type="text" name="name" class="name">
		<label for="">email</label>
		<input type="email" name="email" class="name">
		<label for="">password</label>
		<input type="password" name="password" class="paswword">
		<button type="submit">Enviar</button>
	</form>

</div>